*{
	margin: 0;
	padding: 0;

}
header{
	height: 80px;
	font-size: 20px;
	line-height: 80px;
	border-bottom: solid 2px #1826a0;
	background: #61b96ced;
	font-family: 'Notable', sans-serif;
	font-family: 'Dancing Script', cursive;
	font-family: 'Fredericka the Great', cursive;
}
nav{
	display: flex;
	width: 300px;
	justify-content: space-around;
	align-items: center;
	height: 30px;


}
section{

	width: 90%;
	border:solid 1px silver;
	margin: auto;
	padding: 10px;
	box-sizing: border-box;


}
footer{
	margin-top: 5px;
	width: 100%;
	height: 25px;
	line-height: 25px;
	background: #31AD2F;
	color: white;
	text-align: center;
}
.contenedor{
	width: 100%;
	height: auto;
	max-width: 1200px;
	margin: auto;
}